*{
    padding: 0;
    margin: 0;
	font-family: Roboto;
}

pre{
	background-color: #ffffff;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

h1, h2{
	text-align: center;
}

a{
	text-decoration: none;
}

body{
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

footer{
	margin-top: 100px;
}
/*header*/

.title{
	background: rgba(76,150,80, 0.5);
	padding: 20px 0;
}

.navbar{
    background: rgba(76,175,80, 0.8) ;
    margin-bottom: 20px;
}

.navbar .container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.navbar ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.navbar li{
	list-style: none;
	border-left: 0.1px solid #000;
    border-right: 0.1px solid #000;
    padding: 7.5px 5px;
}

.navbar a{
	font-size: 20px;
    color: #000;
    margin: 0 5px;
    align-content: center; 
}

.navbar li:hover{
	background-color: #357a38;
}

.navbar li:first-child{
	border-left: none;
}

.navbar li:last-child{
	border-right: none;
}

/*header*/



/*Forms*/

.no-account p{
	text-align: center;
}

.form-group{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	margin: 25px 0;
}

.form-group label{
	text-align: center;
	font-size: 20px;
	margin-bottom: 10px;
}

.form-group input{
	max-width: 250px;
	margin: 0 auto;
	background: rgba(255,255,255,0.5)
}

.btn{
	display: block;
	margin: 0 auto;
	border: 1px solid #000;
	border-radius: 12px;
/*	padding: 0 5px;*/
	background-color: #fff;
}

.reg{
	width: 85px;
	height: 25px;
}

.login{
	width: 75px;
	height: 25px;
}

/*Forms*/



/*Team overview*/

.teams{
	border: 1px solid #000;
	border-radius: 12px;
	display: grid;
	grid-template-columns: 85% 15%;
	background: rgba(255,255,255,0.5)
}

.teams-normal{
	display: grid;
	border: 1px solid #000;
	border-radius: 12px;
	background: rgba(255,255,255,0.5)
}

.teams form{
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}

.teams form:last-child{
	border-bottom: none;
}

.team{
	padding: 12.5px 7.5px;

}

.delete-btn{
	display: block;
	margin: auto;
	width: 75%;
	height: 100%;
	background: none;
	border: none;
	font-size: 16px;
}

/*Team overview*/

/*My teams*/

.my-teams a{
	color: #000;
}

.my-teams ul{
	margin: 25px 0;
}

/*My teams*/


/*Admin CP*/
.admin-cp{
	display: grid;
	grid-template-columns: 75% 25%;
}
/*Admin CP*/


/*Match overview*/
.match-overview{
	display: flex;
	flex-direction: column;
	border: solid 1px;
	border-radius: 12px;
	background: rgba(255,255,255,0.5);
}

.match-admin{
	display: flex;
	justify-content: space-between;
	padding: 12.5px 7.5px;
	border-bottom: 1px solid #000;
	text-align: center;
}

.match-admin p{
	margin: auto 0;
}

.match-admin:last-child{
	border-bottom: none;
}

.match{
	padding: 12.5px 7.5px;
	border-bottom: 1px solid #000;
	text-align: center;
}

.match p{
	font-size: 20px;
}

.match:last-child{
	border-bottom: none;
}

.score-btn{
	padding: 5px 7.5px;
	border: none;
}

/*Download*/
.placeholder{
	border: solid 1px;
	height: 200px;
	margin: 25px 0;
}

.download-btn{
	display: block;
	width: 150px;
	border: solid 1px;
	margin: 0 auto;
	padding: 5px 7.5px;
}


/*Score*/
.end-scores{
	display: flex;
	justify-content: space-around;
	border: solid 1px;
	border-radius: 12px;
	background: rgba(255,255,255,0.5);
}

.end-score label{
	text-align: center;
}

.end-score{
	display: flex;
	flex-direction: column;
}